body{
    background: rgb(33,59,103);
    background: linear-gradient(90deg, rgba(33,59,103,1) 0%, rgba(205,205,226,1) 24%, rgba(205,205,226,1) 25%, rgba(196,231,238,1) 100%);
}
.wrapper{
    max-width: 328px !important;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
      width: 380px;
    background: #eaedf3;
    border-radius: 25px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); 
}


.field{
    width: 100%;
    
}

.wrapper .title{
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #509ec8, #0c0c0c);
}

.wrapper form{
    padding: 10px 30px 50px 30px;
}
.wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
   
}
#titulo1{
    margin-top: 20%;
    color: #c1e8e2; 
    font-size: 320%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#titulo2{
    margin-top: 20%;
    color: #050443; 
    font-size: 320%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#titulo{
    margin-top: -20%;
    margin-left: 2%;
}
