
<mat-toolbar id="menubar">
    <mat-toolbar-row>
        <label id="titulo1" for="">Remates</label>
        <label id="titulo2" for="">Moreno</label>

        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: 14px; margin-right: 20px;">{{correoUsuario}} </label>
        
    </mat-toolbar-row>   
</mat-toolbar>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/pages/dashboard"> <mat-icon>dashboard</mat-icon>&nbsp; Estadisticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" aria-current="page" routerLink="/pages/usuarios" > <mat-icon>group</mat-icon> &nbsp;Usuarios</a> 

          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" aria-current="page" routerLink="/pages/productos" > <mat-icon>collections_bookmark</mat-icon>&nbsp;Productos</a>

          </li>

          <li class="nav-item">
          <a class="nav-link  mx-2" aria-current="page" routerLink="/pages/venta" > <mat-icon>currency_exchange</mat-icon>&nbsp;Venta</a>

          </li>

          <li class="nav-item">
            <a class="nav-link  mx-2" aria-current="page" routerLink="/pages/historial_venta" > <mat-icon>edit_note</mat-icon>&nbsp;Historial de venta</a>
  
            </li>

            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="/pages/reportes" > <mat-icon>receipt</mat-icon>&nbsp;Reportes</a>

      
                </li>

                <li class="nav-item">
                  <a class="nav-link " aria-current="page" routerLink="/pages/integrantes" > <mat-icon>supervisor_account</mat-icon>&nbsp;Integrantes</a>
  
        
                  </li>
        </ul>
        <!-- Left links -->
      </div>
      <button mat-raised-button  (click)="cerrarSesion()" id="pro" >
        <mat-icon mat-list-icon >exit_to_app</mat-icon>Salir
    </button>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

<mat-sidenav-container>
<mat-sidenav-content>
<div style="height:90vh;"> 
 <router-outlet> 
    
 </router-outlet>
</div>
</mat-sidenav-content>

</mat-sidenav-container>