#agr{
    background-color: #509ec8
}

#tot{
    background-color: #1de621;
}
#reg{
    background-color: #509ec8
}

#eli{
    color: #ff0000;
}

h1{
    background-color: #509ec8;
    text-align: center;
}