
<div class="containerfondo">
    <h1 id="titulo">PRESENTADO POR: </h1>
    <br><br>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/danilo.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="nombre">Brayan Danilo Guerrero Narvaez</h5>
                      <p class="rol">ESTUDIANTE</p>

                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/david.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="nombre">David Andres Alveazr Gomez</h5>
                      <p class="rol">ESTUDIANTE</p>

                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/marlon.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="nombre">Marlon Jesus Burbano Cabrera</h5>
                      <p class="rol">ESTUDIANTE</p>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>
    <h1 id="titulo">PRESENTADO A: </h1>
    <br>
    <div class="container" id="profe">
        <div class="row">

            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/marcela.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                    <h5 class="nombre">Ing. Marcela Guerrero Calvache</h5>
                    <p class="rol">DOCENTE</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

            </div>

        </div>
    </div>
    <br><br><br><br><br><br>

</div>
  